<mat-toolbar color="secondary"  class="center-title">
  <h2>Crear Persona</h2>
</mat-toolbar>
<br>
<form (ngSubmit)="agregarPersona()" class="form-container">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Cedula</mat-label>
    <input matInput id="cedula" [(ngModel)]="persona.cedula" name="cedula" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Nombre</mat-label>
    <input matInput id="nombre" [(ngModel)]="persona.nombre" name="nombre" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Edad</mat-label>
    <input matInput id="edad" [(ngModel)]="persona.edad" name="edad" required type="number" min="0" step="0.01">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="submit-button">Agregar Persona</button>
</form>
