
<h1>Editar Persona</h1>
<form (ngSubmit)="actualizarPersona()" class="form-container">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Cedula</mat-label>
    <input matInput id="cedula" [(ngModel)]="persona.cedula" name="cedula" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Nombre</mat-label>
    <input matInput id="nombre" [(ngModel)]="persona.nombre" name="nombre" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Edad</mat-label>
    <input matInput id="edad" [(ngModel)]="persona.edad" name="edad" required type="number">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="submit-button">Actualizar Persona</button>
</form>
